name: CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v1
    - name: opam install & build
      uses: huitseeker/opam-coq-action@master
      with:
        args: make clean && make
